language: php

dist: xenial

services:
  - mysql

cache:
  directories:
    - $HOME/.composer/cache/files

addons:
  apt:
    packages:
      - hunspell
      - libhunspell-dev
      - hunspell-en-us
      - chromium-chromedriver
      - chromium-browser

env:
  global:
    - DB=MYSQL
    - TRAVIS_NODE_VERSION="10"
    - COMPOSER_ROOT_VERSION="4.x-dev"
    - SS_BASE_URL="http://localhost:8080/"
    - SS_ENVIRONMENT_TYPE="dev"

matrix:
  include:
    - php: 7.1
      env: BEHAT_TEST=@cms

before_script:
  # Configure PHP
  - phpenv rehash
  - phpenv config-rm xdebug.ini || true
  - echo 'memory_limit = 2G' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

  - composer validate
  # Install dependencies
  - composer install --prefer-source --no-interaction --no-progress --no-suggest --optimize-autoloader --verbose --profile

  # Validate cow schema
  - composer global require silverstripe/cow ^2
  - $HOME/.composer/vendor/bin/cow schema:validate

  # Remove preinstalled Chrome (google-chrome)
  # this would conflict with our chromium-browser installation
  # and its version is incompatible with chromium-chromedriver
  - sudo apt-get remove -y --purge google-chrome-stable || true

  # Start behat services
  - if [[ $BEHAT_TEST ]]; then mkdir artifacts; fi
  - if [[ $BEHAT_TEST ]]; then cp composer.lock artifacts/; fi
  - if [[ $BEHAT_TEST ]]; then sh -e /etc/init.d/xvfb start; sleep 3; fi
  - if [[ $BEHAT_TEST ]]; then (chromedriver > artifacts/chromedriver.log 2>&1 &); fi
  - if [[ $BEHAT_TEST ]]; then (vendor/bin/serve --bootstrap-file tests/behat/serve-bootstrap.php &> artifacts/serve.log &); fi

script:
  - if [[ $PHPUNIT_TEST ]]; then vendor/bin/phpunit --testsuite "$PHPUNIT_TEST" --exclude-group exclude-from-travis; fi
  - if [[ $BEHAT_TEST ]]; then vendor/bin/behat "$BEHAT_TEST"; fi

notifications:
  slack:
    on_pull_requests: false
    rooms:
      secure: X37wqEdRXnfQ0GQgldToNXDmITIMZXrh/MyJ1OOqZ/tArFeDs/UeM/IilHM9bgmkA+fX4UxL4h3ZUWesE44ySg8PB/MEDAjSBtKp3RoT9usTLsVondFQs1DPMJhxvHeRa93Ev6kypFrZAjxPIYqgwT2Vt6voCC9OgbPx2zaXvUalYt78Vhmmboj4WIn1sZ9YmCUP6PGYgPBKzErqFms+y9zhaYImC9tGHC5Z+t3bmwdmMf+cwwivLgHwua6r1emwp7ON/Hpuocb70k8xCpRG+kAonws1uWdb9bxqobUoTzqdQr0Y793j5y28aOYpdoXJWQieogXVMyJl9Wwxg0RWPw/PwE/5xbO+1jLNUgKmymZ/rNl3peQhhzHE2vxnGOQdUcIE308BeJ5eRh3a9ZpmhImKcuwgVQp9oUE8m2YuKVcAKyD11nNDd19Ku11UjF0RAaFCv+Z1IPjEzMXa8SSDjBJUhX6ctfmXhC2oqr/ia4RgJXOmThWaeQDqRdYi6Eeiqz3FMZsKRGZZqhjoIznCWR6z7GomlP4yP0PVvO2NahnCsU6iyMej4EBvOVX0rhHppI1CE1cBbC7L80CIJAGf5o3s/2A6alnYPq+rLk3bBrDOFn7SqFEFoinsnOjg6n0v2KFZ79EKd4h1YDrQ5Oj9BHCOj3yn0oZZBCDUIvwJTrY=
